.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    align-items: center;
    height: 150px;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-link {
    font-size: 20.83px;
    color: #1e1e1e;
    margin-right: 40px;
  }



.enter-button:hover {
  background-color: #88e8d4;
}